# ----------------------
# Flask
# ----------------------
flask
python-firebase
pysal
pyodbc

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
