# ----------------------
# Flask
# ----------------------
flask
python-firebase
pysal

# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
